/*
All the resets, variables, mixins, and utility classes
*/
* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.8em;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: pink;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

::-moz-selection {
  background: var(--accent);
}

::selection {
  background: var(--accent);
}

button {
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  color: var(--grey);
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

:root {
  --root-px: 16px;
  --nav-s: 50px;
  --bg-dark: rgba(16, 18, 27, 40%);
  --bg-light: rgb(146, 151, 179, 13%);
  --bg-black: #14162b;
  --white: #f9fafb;
  --grey: rgba(113, 119, 144, 78%);
  --yellow-bright: #ffb01e;
  --green-bright: #1eff45;
  --pink-bright: #ff1ec7;
  --red-bright: #ff1e1e;
  --accent: #6200ee;
  --black: #383838;
  --shadow-grey: 0 0 0 1px var(--grey);
}

@media (min-width: 768px) {
  :root {
    --root-px: 18px;
  }
}

html,
body {
  height: 100%;
  font-size: var(--root-px);
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: url(https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .container {
    padding: 0 80px;
  }
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: var(--bg-color);
}

#app .header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

#app .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

#app .footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

/*
All styles relating to a reusable component
*/
.nav {
  max-width: 1200px;
  margin: 0 auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover, .nav__link.active {
  background: var(--bg-dark);
}

.nav__link:hover.home, .nav__link.active.home {
  background: var(--yellow-bright);
  -webkit-box-shadow: 0 0 5px var(--yellow-bright), 0 0 15px var(--yellow-bright), 0 0 30px var(--yellow-bright), 0 0 60px var(--yellow-bright);
          box-shadow: 0 0 5px var(--yellow-bright), 0 0 15px var(--yellow-bright), 0 0 30px var(--yellow-bright), 0 0 60px var(--yellow-bright);
}

.nav__link:hover.trees, .nav__link.active.trees {
  background: var(--green-bright);
  -webkit-box-shadow: 0 0 5px var(--green-bright), 0 0 15px var(--green-bright), 0 0 30px var(--green-bright), 0 0 60px var(--green-bright);
          box-shadow: 0 0 5px var(--green-bright), 0 0 15px var(--green-bright), 0 0 30px var(--green-bright), 0 0 60px var(--green-bright);
}

.nav__link:hover.decor, .nav__link.active.decor {
  background: var(--pink-bright);
  -webkit-box-shadow: 0 0 5px var(--pink-bright), 0 0 15px var(--pink-bright), 0 0 30px var(--pink-bright), 0 0 60px var(--pink-bright);
          box-shadow: 0 0 5px var(--pink-bright), 0 0 15px var(--pink-bright), 0 0 30px var(--pink-bright), 0 0 60px var(--pink-bright);
}

.nav__link:hover.favorite, .nav__link.active.favorite {
  background: var(--red-bright);
  -webkit-box-shadow: 0 0 5px var(--red-bright), 0 0 15px var(--red-bright), 0 0 30px var(--red-bright), 0 0 60px var(--red-bright);
          box-shadow: 0 0 5px var(--red-bright), 0 0 15px var(--red-bright), 0 0 30px var(--red-bright), 0 0 60px var(--red-bright);
}

@media (min-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: var(--nav-s);
    background: var(--bg-light);
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 200px;
  }
}

.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: .5rem;
  font-family: inherit;
  background: none;
  border-radius: 20px;
  border: 1px solid var(--white);
  color: var(--white);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background: var(--bg-color);
}

.btn:hover::before {
  -webkit-transform: skewX(45deg) translateX(200%);
          transform: skewX(45deg) translateX(200%);
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.15)), to(transparent));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  -webkit-transform: skewX(45deg) translateX(0);
          transform: skewX(45deg) translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn_yellow {
  -webkit-box-shadow: 0 0 5px var(--yellow-bright), 0 0 10px var(--yellow-bright), 0 0 10px var(--yellow-bright), 0 0 10px var(--yellow-bright);
          box-shadow: 0 0 5px var(--yellow-bright), 0 0 10px var(--yellow-bright), 0 0 10px var(--yellow-bright), 0 0 10px var(--yellow-bright);
}

:root {
  --search-bar-h: 40px;
}

.search-panel {
  position: relative;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  width: 100%;
  height: var(--search-bar-h);
  border-radius: 4px;
}

.search-bar__input {
  width: 100%;
  height: 100%;
  padding: 0 20px 0 40px;
  border: none;
  outline: none;
  background-color: var(--bg-black);
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  -webkit-box-shadow: var(--shadow-grey);
          box-shadow: var(--shadow-grey);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 16px 48%;
  color: var(--white);
}

.search-bar__input:focus {
  -webkit-box-shadow: 0 0 3px 2px var(--accent);
          box-shadow: 0 0 3px 2px var(--accent);
  outline: 5px solid transparent;
}

.search-bar__expand-btn {
  height: 100%;
  padding: 0 0.5rem;
  background: none;
  border-radius: 4px;
  border: 1px solid var(--grey);
  color: var(--white);
}

.expanded-panel {
  position: absolute;
  top: calc(var(--search-bar-h) + 20px);
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 15px;
  padding: 0 1rem 1rem;
  background: var(--bg-dark);
  border: 1px solid var(--grey);
  border-radius: 4px;
}

.expanded-panel.hidden {
  display: none;
}

.expanded-panel__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.expanded-panel__actions .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  font-size: 1rem;
}

.expanded-panel__actions .clear-filter {
  background: rgba(245, 241, 45, 0.24);
}

.expanded-panel__actions .save-filter {
  background: rgba(51, 255, 0, 0.24);
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting__btn {
  background: none;
  border-radius: 4px;
  border: 1px solid var(--grey);
  color: var(--white);
}

.sorting__group {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.sorting__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filtering .filter {
  margin-bottom: 15px;
}

.filtering .filter__label {
  margin-bottom: 10px;
}

.only-favorite {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  gap: 0.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.select__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: var(--bg-black);
  -webkit-box-shadow: var(--shadow-grey);
          box-shadow: var(--shadow-grey);
}

.select__box .selected-options {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.select__box .selected-options li {
  margin-bottom: 0;
}

.select__box .select__input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.select__box:focus-within {
  -webkit-box-shadow: 0 0 3px 2px var(--accent);
          box-shadow: 0 0 3px 2px var(--accent);
  outline: 5px solid transparent;
}

.select__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  display: block;
  color: var(--white);
  background-color: var(--bg-black);
  border: none;
  font-size: 1em;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select__label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
}

.open .select__input {
  border-radius: 4px 4px 0 0;
}

.select__list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  max-height: 300px;
  border: 1px solid var(--grey);
  border-radius: 0 0 4px 4px;
  overflow-y: scroll;
  background-color: var(--bg-black);
}

.select__list::-webkit-scrollbar {
  width: 10px;
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--black);
}

.open .select__list {
  display: block;
}

.select-option {
  padding: 10px 12px 12px;
  color: var(--white);
  cursor: pointer;
}

.select-option.option-current,
.select-option:hover {
  background-color: var(--bg-light);
}

.select-option.option-selected {
  position: relative;
  padding-right: 30px;
}

.select-option.option-selected::after {
  position: absolute;
  right: 15px;
  top: 50%;
  width: 8px;
  height: 16px;
  border-bottom: 2px solid var(--accent);
  border-right: 2px solid var(--accent);
  content: '';
  -webkit-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.selected-options {
  list-style-type: none;
}

.selected-options li {
  display: inline-block;
  margin-bottom: 5px;
}

.remove-option {
  position: relative;
  margin-bottom: 6px;
  margin-right: 6px;
  cursor: pointer;
  padding: 0.25em 1.75em 0.25em 0.25em;
  font-size: 0.75em;
  font-weight: bold;
  color: var(--white);
  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 3px;
}

.remove-option:hover {
  border-color: #baa1dd;
  -webkit-box-shadow: 0 0 3px 1px var(--accent);
          box-shadow: 0 0 3px 1px var(--accent);
  outline: 3px solid transparent;
}

.remove-option::before,
.remove-option::after {
  border-right: 2px solid var(--white);
  content: '';
  height: 1em;
  right: 0.75em;
  position: absolute;
  top: 50%;
  width: 0;
}

.remove-option::before {
  -webkit-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.remove-option::after {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}

.noUi-target {
  height: 10px;
}

.noUi-base {
  background: var(--bg-black);
  border: none;
  -webkit-box-shadow: var(--shadow-grey);
          box-shadow: var(--shadow-grey);
}

.noUi-tooltip {
  font-size: 14px;
  border: none;
  -webkit-box-shadow: var(--shadow-grey);
          box-shadow: var(--shadow-grey);
  background: var(--white);
}

.noUi-tooltip {
  display: none;
}

.noUi-active .noUi-tooltip {
  display: block;
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
  background: var(--white);
  cursor: pointer;
  -webkit-box-shadow: var(--shadow-grey);
          box-shadow: var(--shadow-grey);
}

.noUi-horizontal .noUi-handle-upper {
  right: -7px;
}

.noUi-handle:before,
.noUi-handle:after {
  display: none;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 10px;
}

.noUi-value {
  font-size: 15px;
}

.noUi-connect {
  background: var(--accent);
}

.checkbox {
  -webkit-appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid var(--grey);
}

.checkbox:focus {
  border: 1px solid var(--accent);
}

.checkbox:checked {
  position: relative;
  background: none;
}

.checkbox:checked::after {
  position: absolute;
  top: 0.36rem;
  left: 0.12rem;
  content: '';
  width: 1rem;
  height: 0.3rem;
  border: 4px solid var(--accent);
  border-right: none;
  border-top: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.radio {
  opacity: 0;
  position: absolute;
}

.radio,
.radio-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.radio-label {
  position: relative;
}

.radio + .radio-label:before {
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.radio + .radio-label:before {
  border-radius: 50%;
}

.radio:checked + .radio-label:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: var(--accent);
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 10px;
  padding: 10px;
  background: var(--bg-light);
  border-radius: 4px;
  -webkit-box-shadow: var(--shadow-grey);
          box-shadow: var(--shadow-grey);
}

.card__favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.2rem;
  border-radius: 4px;
  border: none;
  background: transparent;
  color: var(--grey);
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.card__favorite.active > span, .card__favorite:hover > span {
  color: var(--pink-bright);
}

.card__img {
  width: 100%;
  height: 140px;
}

.card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__name {
  font-size: 1.3rem;
}

.card__amount {
  font-size: .9rem;
}

.card__info {
  font-size: .9rem;
}

.card__info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*
Styles for the header, footer, the grid system e.t.c.
*/
.header {
  height: var(--nav-s);
  background-color: var(--bg-dark);
}

@media (min-width: 768px) {
  .header {
    margin-left: var(--nav-s);
  }
}

.main {
  padding: 2rem 0;
  color: var(--white);
  background: var(--bg-dark);
}

@media (min-width: 768px) {
  .main {
    margin-left: var(--nav-s);
  }
}

.footer {
  padding: 0.7rem 0;
  background: var(--bg-light);
  font-size: 0.9rem;
}

.footer .copyright {
  display: none;
  color: var(--grey);
}

.footer .copyright__school {
  width: 30px;
  height: 10px;
  background: url("/img/rss.svg") no-repeat center;
}

.footer .copyright__github:hover {
  color: var(--white);
}

@media (min-width: 768px) {
  .footer {
    margin-left: var(--nav-s);
    background: var(--bg-dark);
  }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.start-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.start-page__action .btn {
  width: 200px;
}

.items {
  margin-top: 2rem;
}

.items__title {
  margin-bottom: 1rem;
}

.items__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 1em;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.play-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0;
  background: var(--bg-light);
}

.play-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  background: var(--bg-light);
}

.aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
          flex: 0 1 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 2rem;
  height: 100%;
  padding: 1rem;
  background: var(--bg-dark);
}

.aside-section__title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.options__option {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 1px solid var(--grey);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.options__option:hover, .options__option:hover::after {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: transparent;
}

.options__option::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 100%;
  background-color: rgba(128, 128, 128, 0.685);
}

.options__option_active::after {
  background-color: transparent;
}

.options__option_scene {
  background: url("/img/iconscene.png") no-repeat;
}

.options__option_tree {
  background: url("/img/icontree.png") no-repeat;
}

.options .scene-1 {
  background-position: 0 0;
}

.options .scene-2 {
  background-position: -45px 0;
}

.options .scene-3 {
  background-position: 0 -45px;
}

.options .scene-4 {
  background-position: -92px -46px;
}

.options .tree-1 {
  background-position: 0 0;
}

.options .tree-2 {
  background-position: -45px 0;
}

.options .tree-3 {
  background-position: -45px 0;
}

.options .tree-4 {
  background-position: -45px 0;
}

.lights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lights > span {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.lights > span:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.lights-1 {
  color: var(--red-bright);
}

.lights-2 {
  color: var(--pink-bright);
}

.lights-3 {
  color: var(--green-bright);
}

.lights-4 {
  color: var(--yellow-bright);
}

.lights-5 {
  background: linear-gradient(11deg, var(--red-bright) 0%, var(--pink-bright) 30%, var(--yellow-bright) 50%, var(--green-bright) 100%);
}

.lights-switcher {
  background: none;
  border-radius: 20px;
  border: none;
  color: var(--white);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.7rem;
          column-gap: 0.7rem;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}

.actions__btn {
  width: 100%;
}
