/*
All the resets, variables, mixins, and utility classes
*/
* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.8em;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: pink;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

::-moz-selection {
  background: #fff;
}

::selection {
  background: #fff;
}

button {
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  color: var(--grey);
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

:root {
  --root-px: 16px;
  --nav-s: 50px;
  --bg-dark: rgba(16, 18, 27, 40%);
  --bg-light: rgb(146, 151, 179, 13%);
  --bg-black: #14162b;
  --white: #f9fafb;
  --grey: rgba(113, 119, 144, 78%);
  --brown-bright: #ffb01e;
  --green-bright: #1eff45;
  --pink-bright: #ff1ec7;
  --red-bright: #ff1e1e;
  --accent: #6200ee;
  --black: #383838;
}

@media (min-width: 768px) {
  :root {
    --root-px: 18px;
  }
}

html,
body {
  height: 100%;
  font-size: var(--root-px);
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: url(https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .container {
    padding: 0 80px;
  }
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: var(--bg-color);
}

#app .header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

#app .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

#app .footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

/*
All styles relating to a reusable component
*/
.nav {
  max-width: 1200px;
  margin: 0 auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover, .nav__link.active {
  background: var(--bg-dark);
}

.nav__link:hover.home, .nav__link.active.home {
  background: var(--brown-bright);
  -webkit-box-shadow: 0 0 5px var(--brown-bright), 0 0 15px var(--brown-bright), 0 0 30px var(--brown-bright), 0 0 60px var(--brown-bright);
          box-shadow: 0 0 5px var(--brown-bright), 0 0 15px var(--brown-bright), 0 0 30px var(--brown-bright), 0 0 60px var(--brown-bright);
}

.nav__link:hover.trees, .nav__link.active.trees {
  background: var(--green-bright);
  -webkit-box-shadow: 0 0 5px var(--green-bright), 0 0 15px var(--green-bright), 0 0 30px var(--green-bright), 0 0 60px var(--green-bright);
          box-shadow: 0 0 5px var(--green-bright), 0 0 15px var(--green-bright), 0 0 30px var(--green-bright), 0 0 60px var(--green-bright);
}

.nav__link:hover.decor, .nav__link.active.decor {
  background: var(--pink-bright);
  -webkit-box-shadow: 0 0 5px var(--pink-bright), 0 0 15px var(--pink-bright), 0 0 30px var(--pink-bright), 0 0 60px var(--pink-bright);
          box-shadow: 0 0 5px var(--pink-bright), 0 0 15px var(--pink-bright), 0 0 30px var(--pink-bright), 0 0 60px var(--pink-bright);
}

.nav__link:hover.favorite, .nav__link.active.favorite {
  background: var(--red-bright);
  -webkit-box-shadow: 0 0 5px var(--red-bright), 0 0 15px var(--red-bright), 0 0 30px var(--red-bright), 0 0 60px var(--red-bright);
          box-shadow: 0 0 5px var(--red-bright), 0 0 15px var(--red-bright), 0 0 30px var(--red-bright), 0 0 60px var(--red-bright);
}

@media (min-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: var(--nav-s);
    background: var(--bg-light);
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 200px;
  }
}

.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 1rem;
  background: none;
  border-radius: 20px;
  border: 1px solid var(--white);
  color: var(--white);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background: var(--bg-color);
}

.btn:hover::before {
  -webkit-transform: skewX(45deg) translateX(200%);
          transform: skewX(45deg) translateX(200%);
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.15)), to(transparent));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  -webkit-transform: skewX(45deg) translateX(0);
          transform: skewX(45deg) translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

:root {
  --search-bar-h: 40px;
}

.search-panel {
  position: relative;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  width: 100%;
  height: var(--search-bar-h);
  border-radius: 4px;
}

.search-bar__input {
  width: 100%;
  height: 100%;
  padding: 0 20px 0 40px;
  border: none;
  outline: none;
  background-color: var(--bg-black);
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  -webkit-box-shadow: 0 0 0 1px var(--grey);
          box-shadow: 0 0 0 1px var(--grey);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 16px 48%;
  color: var(--white);
}

.search-bar__input:focus {
  -webkit-box-shadow: 0 0 3px 2px var(--accent);
          box-shadow: 0 0 3px 2px var(--accent);
  outline: 5px solid transparent;
}

.search-bar__expand-btn {
  height: 100%;
  padding: 0 .5rem;
  background: none;
  border-radius: 4px;
  border: 1px solid var(--grey);
  color: var(--white);
}

.expanded-panel {
  position: absolute;
  top: calc(var(--search-bar-h) + 20px);
  left: 0;
  right: 0;
  padding: 1rem;
  background: var(--bg-dark);
  border: 1px solid var(--grey);
  border-radius: 4px;
}

.select {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.select__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: var(--bg-black);
  -webkit-box-shadow: 0 0 0 1px var(--grey);
          box-shadow: 0 0 0 1px var(--grey);
}

.select__box .selected-options {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.select__box .selected-options li {
  margin-bottom: 0;
}

.select__box .select__input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.select__box:focus-within {
  -webkit-box-shadow: 0 0 3px 2px var(--accent);
          box-shadow: 0 0 3px 2px var(--accent);
  outline: 5px solid transparent;
}

.select__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  display: block;
  color: var(--white);
  background-color: var(--bg-black);
  border: none;
  font-size: 1em;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select__label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
}

.open .select__input {
  border-radius: 4px 4px 0 0;
}

.select__list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  max-height: 300px;
  border: 1px solid var(--grey);
  border-radius: 0 0 4px 4px;
  overflow-y: scroll;
  background-color: var(--bg-black);
}

.select__list::-webkit-scrollbar {
  width: 10px;
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--black);
}

.open .select__list {
  display: block;
}

.select-option {
  padding: 10px 12px 12px;
  color: var(--white);
  cursor: pointer;
}

.select-option.option-current,
.select-option:hover {
  background-color: var(--bg-light);
}

.select-option.option-selected {
  position: relative;
  padding-right: 30px;
}

.select-option.option-selected::after {
  position: absolute;
  right: 15px;
  top: 50%;
  width: 8px;
  height: 16px;
  border-bottom: 2px solid var(--accent);
  border-right: 2px solid var(--accent);
  content: '';
  -webkit-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.selected-options {
  list-style-type: none;
}

.selected-options li {
  display: inline-block;
  margin-bottom: 5px;
}

.remove-option {
  position: relative;
  margin-bottom: 6px;
  margin-right: 6px;
  cursor: pointer;
  padding: 0.25em 1.75em 0.25em 0.25em;
  font-size: 0.75em;
  font-weight: bold;
  color: var(--white);
  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 3px;
}

.remove-option:hover {
  border-color: #baa1dd;
  -webkit-box-shadow: 0 0 3px 1px var(--accent);
          box-shadow: 0 0 3px 1px var(--accent);
  outline: 3px solid transparent;
}

.remove-option::before,
.remove-option::after {
  border-right: 2px solid var(--white);
  content: '';
  height: 1em;
  right: 0.75em;
  position: absolute;
  top: 50%;
  width: 0;
}

.remove-option::before {
  -webkit-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.remove-option::after {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}

/*
Styles for the header, footer, the grid system e.t.c.
*/
.header {
  height: var(--nav-s);
  background-color: var(--bg-dark);
}

@media (min-width: 768px) {
  .header {
    margin-left: var(--nav-s);
  }
}

.main {
  padding: 2rem 0;
  color: var(--white);
  background: var(--bg-dark);
}

@media (min-width: 768px) {
  .main {
    margin-left: var(--nav-s);
  }
}

.footer {
  padding: 0.7rem 0;
  background: var(--bg-light);
  font-size: 0.9rem;
}

.footer .copyright {
  display: none;
  color: var(--grey);
}

.footer .copyright__school {
  width: 30px;
  height: 10px;
  background: url("/img/rss.svg") no-repeat center;
}

.footer .copyright__github:hover {
  color: var(--white);
}

@media (min-width: 768px) {
  .footer {
    margin-left: var(--nav-s);
    background: var(--bg-dark);
  }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.start-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.start-page__action .btn {
  width: 200px;
}
