.footer {
	padding: 0.7rem 0;
	background: var(--bg-dark);
	font-size: 0.9rem;

	.copyright {
		color: var(--grey);
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__school {
			width: 30px;
			height: 10px;
			background: url('/img/rss.svg') no-repeat center;
		}

		&__github:hover {
			color: var(--white);
		}
	}

	@media (min-width: 768px) {
		margin-left: var(--nav-s);
	}
}
