.garland {
	position: absolute;
	top: 150px;
	bottom: 130px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	pointer-events: none;

	&.hidden {
		display: none;
	}

	&__light {
		position: absolute;
		width: 5px;
		height: 5px;
		margin: 0 10px;
		animation-fill-mode: both;
		animation-iteration-count: infinite;
		border-radius: 100%;
		border: none;
	}

	&__light:nth-child(1n + 1) {
		animation-duration: 1s;
	}

	&__light:nth-child(2n + 2) {
		animation-duration: 1.2s;
	}

	&__light:nth-child(3n + 3) {
		animation-duration: 1.3s;
	}

	&__light:nth-child(4n + 4) {
		animation-duration: 1.4s;
	}
}

.garland-options {
	display: flex;
	justify-content: space-between;
}

.lights {
	.light {
		position: relative;
		display: inline-block;
		width: 12px;
		height: 28px;
		margin: 0 15px;
		padding: 0;
		border-radius: 50%;
		background: #fff;
		border: none;
		outline: none;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			background: #000;
			width: 10px;
			height: 9px;
			border-radius: 3px;
			top: -4px;
			left: 1px;
		}

		&:after {
			content: '';
			top: -14px;
			left: 9px;
			position: absolute;
			width: 52px;
			height: 19px;
			border-bottom: solid #000 2px;
			border-radius: 30%;
		}

		&.multicolor {
			background: linear-gradient(11deg, var(--red-bright) 0%, var(--pink-bright) 30%, var(--yellow-bright) 50%, var(--green-bright) 100%);
		}

		&.yellow {
			background-color: var(--yellow-bright);
		}

		&.pink {
			background-color: var(--pink-bright);
		}

		&.green {
			background-color: var(--green-bright);
		}

		&.red {
			background-color: var(--red-bright);
		}
	}
}

.multicolor .garland {
	&__light:nth-child(1n + 1) {
		animation-name: yellow;
	}

	&__light:nth-child(2n + 2) {
		animation-name: pink;
	}

	&__light:nth-child(3n + 3) {
		animation-name: green;
	}

	&__light:nth-child(4n + 4) {
		animation-name: red;
	}
}

.yellow .garland {
	&__light {
		animation-name: yellow;
	}
}

.green .garland {
	&__light {
		animation-name: green;
	}
}

.pink .garland {
	&__light {
		animation-name: pink;
	}
}

.red .garland {
	&__light {
		animation-name: red;
	}
}

@keyframes yellow {
	0%,
	100% {
		background: var(--yellow-bright);
		box-shadow: 0 0 2px var(--yellow-bright), 0 0 5px var(--yellow-bright), 0 0 5px var(--yellow-bright), 0 0 5px var(--yellow-bright);
	}

	50% {
		background: rgba(255, 176, 30, 0.555);
		box-shadow: 0 0 2px rgba(255, 176, 30, 0.555), 0 0 5px rgba(255, 176, 30, 0.555), 0 0 5px rgba(255, 176, 30, 0.555), 0 0 5px rgba(255, 176, 30, 0.555);
	}
}

@keyframes green {
	0%,
	100% {
		background: var(--green-bright);
		box-shadow: 0 0 5px var(--green-bright), 0 0 5px var(--green-bright), 0 0 5px var(--green-bright), 0 0 5px var(--green-bright);
	}

	50% {
		background: rgba(30, 255, 69, 0.555);
		box-shadow: 0 0 5px rgba(30, 255, 69, 0.555), 0 0 5px rgba(30, 255, 69, 0.555), 0 0 5px rgba(30, 255, 69, 0.555), 0 0 5px rgba(30, 255, 69, 0.555);
	}
}

@keyframes pink {
	0%,
	100% {
		background: var(--pink-bright);
		box-shadow: 0 0 5px var(--pink-bright), 0 0 5px var(--pink-bright), 0 0 5px var(--pink-bright), 0 0 5px var(--pink-bright);
	}

	50% {
		background: rgb(255, 30, 199, 0.555);
		box-shadow: 0 0 5px rgb(255, 30, 199, 0.555), 0 0 5px rgb(255, 30, 199, 0.555), 0 0 5px rgb(255, 30, 199, 0.555), 0 0 5px rgb(255, 30, 199, 0.555);
	}
}

@keyframes red {
	0%,
	100% {
		background: var(--red-bright);
		box-shadow: 0 0 5px var(--red-bright), 0 0 5px var(--red-bright), 0 0 5px var(--red-bright), 0 0 5px var(--red-bright);
	}

	50% {
		background: rgba(255, 30, 30, 0.555);
		box-shadow: 0 0 5px rgba(255, 30, 30, 0.555), 0 0 5px rgba(255, 30, 30, 0.555), 0 0 5px rgba(255, 30, 30, 0.555), 0 0 5px rgba(255, 30, 30, 0.555);
	}
}
