.nav {
	position: sticky;
	bottom: 0;
	z-index: 10;
	width: 100%;
	height: 80px;
	padding: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--grey);

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 200px;
		margin: 0 auto;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		padding: 0.5rem;
		color: var(--white);
		transition: 0.3s;

		&:hover,
		&.active {
			background: var(--bg-dark);

			&.home {
				background: var(--yellow-bright);
				box-shadow: 0 0 5px var(--yellow-bright), 0 0 10px var(--yellow-bright), 0 0 10px var(--yellow-bright), 0 0 10px var(--yellow-bright);
			}

			&.catalog {
				background: var(--red-bright);
				box-shadow: 0 0 5px var(--red-bright), 0 0 10px var(--red-bright), 0 0 10px var(--red-bright), 0 0 10px var(--red-bright);
			}

			&.play {
				background: var(--green-bright);
				box-shadow: 0 0 5px var(--green-bright), 0 0 10px var(--green-bright), 0 0 10px var(--green-bright), 0 0 10px var(--green-bright);
			}
		}
	}

	@media (min-width: 890px) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: var(--nav-h);
		padding: unset;
	}
}
