.nav {
	position: sticky;
	bottom: 0;
	width: 100%;
	max-width: 1200px;
	height: 80px;
	padding: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--grey);
	// background: var(--bg-black);

	&__list {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		padding: 0.5rem;
		color: var(--white);
		transition: 0.3s;

		&:hover,
		&.active {
			background: var(--bg-dark);

			&.home {
				background: var(--yellow-bright);
				box-shadow: 0 0 5px var(--yellow-bright), 0 0 10px var(--yellow-bright), 0 0 10px var(--yellow-bright), 0 0 10px var(--yellow-bright);
			}

			&.catalog {
				background: var(--pink-bright);
				box-shadow: 0 0 5px var(--pink-bright), 0 0 10px var(--pink-bright), 0 0 10px var(--pink-bright), 0 0 10px var(--pink-bright);
			}

			&.play {
				background: var(--green-bright);
				box-shadow: 0 0 5px var(--green-bright), 0 0 10px var(--green-bright), 0 0 10px var(--green-bright), 0 0 10px var(--green-bright);
			}
		}
	}

	@media (min-width: 768px) {
		position: fixed;
		top: 0;
		left: 0;
		width: var(--nav-s);
		height: 100%;
		padding: unset;
		// background: var(--bg-light);

		&__list {
			flex-direction: column;
			height: 200px;
		}
	}
}
