.btn {
	position: relative;
	display: flex;
	justify-content: center;
	overflow: hidden;
	padding: 0.5rem;
	border-radius: 20px;
	font-family: inherit;
	background: none;
	border: 1px solid var(--white);
	color: var(--white);
	cursor: pointer;
	transition: 0.3s;

	&:hover {
		background: var(--bg-color);

		&::before {
			transform: skewX(45deg) translateX(200%);
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
		transform: skewX(45deg) translateX(0);
		transition: 0.5s;
	}

	&.accented {
		box-shadow: 0 0 5px var(--yellow-bright), 0 0 10px var(--yellow-bright), 0 0 10px var(--yellow-bright), 0 0 10px var(--yellow-bright);
	}

	&.md {
		flex: 1 1 200px;
		font-size: 1rem;
	}

	&.lg {
		font-size: 1rem;
	}

	&.clear {
		box-shadow: 0 0 5px var(--red-bright), 0 0 10px var(--red-bright), 0 0 10px var(--red-bright), 0 0 10px var(--red-bright);
	}

	&.reset {
		box-shadow: 0 0 5px var(--yellow-bright), 0 0 10px var(--yellow-bright), 0 0 10px var(--yellow-bright), 0 0 10px var(--yellow-bright);
	}

	&.square {
		border-radius: 4px;
	}
}
