.loader {
	position: absolute;
	top: 40%;
	left: 45%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	width: 200px;
	color: #fff;
	font-size: 10rem;
	animation: spin 3s linear forwards infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
