@import '../base/__mixins.scss';

.popup {
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translate(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	padding: 1em 0.5em;
	border-radius: 4px;
	font-size: 1.3em;
	color: var(--red-bright);
	background: var(--bg-black);
	box-shadow: 0 0 5px var(--red-bright), 0 0 10px var(--red-bright), 0 0 10px var(--red-bright), 0 0 10px var(--red-bright);
	transition: 0.4s;

	&__content {
		text-shadow: var(--error-text-shadow);
	}

	&.hidden {
		top: -200px;
	}
}
