.switch {
	display: block;

	&:focus,
	&:active {
		outline: none;
	}
	input {
		display: none;
	}

	i {
		display: block;
		width: 40px;
		height: 40px;
		background: var(--grey);
		border: 1px solid var(--bg-black);
		border-radius: 50%;
		position: relative;
		transition: 0.2s;

		&:before,
		&:after {
			transition: 0.2s;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 20px;
			height: 20px;
			border: 5px solid var(--bg-black);
			border-radius: 50%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		&:after {
			content: '';
			display: block;
			width: 5px;
			background: var(--bg-black);
			position: absolute;
			height: 18px;
			left: 50%;
			top: 2px;
			transform: translateX(-50%);
		}

		&.flicker {
			animation: switch-flicker 2s infinite;
		}
	}

	input:checked + i {
		&:before {
			border-color: var(--red-bright);
		}
		&:after {
			background: var(--red-bright);
		}
	}

	&:hover {
		cursor: pointer;
	}
}

@keyframes switch-flicker {
	0%,
	100% {
		box-shadow: 0 0 5px var(--yellow-bright), 0 0 10px var(--yellow-bright), 0 0 10px var(--yellow-bright), 0 0 10px var(--yellow-bright);
	}

	50% {
		box-shadow: 0 0 2px rgba(255, 176, 30, 0.555), 0 0 5px rgba(255, 176, 30, 0.555), 0 0 5px rgba(255, 176, 30, 0.555), 0 0 5px rgba(255, 176, 30, 0.555);
	}
}
