@import '../base/_mixins';

.play-container {
	display: flex;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	overflow: hidden;
	background: var(--bg-light);

	@media (max-width: 864px) {
		position: relative;
	}
}

.tree-container {
	position: relative;
	flex: 1 1 500px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 20px;
	background-color: var(--bg-light);
	background-size: cover;
	background-position: center;
}

.tree-map {
	width: 500px;
	height: 714px;
	position: relative;
}

.tree-main-image {
	position: absolute;
}

.aside {
	flex: 0 1 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 0.5rem;
	height: 100%;
	background: var(--bg-dark);

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: auto;
		height: 100%;
		padding: 0.5rem;
		row-gap: 1rem;
	}

	&__header {
		display: none;

		@media (max-width: 864px) {
			display: block;
			height: 0;
		}
	}

	&__toggler {
		display: flex;
		width: 30px;
		height: 30px;
		align-items: center;
		justify-content: center;
		padding: 0;
		background: var(--bg-black);

		&:hover {
			background: var(--bg-black);
		}
	}

	@media (max-width: 864px) {
		position: absolute;
		top: 0;
		z-index: 1000;
		background: rgba(16, 18, 27, 0.664);
		transition: 1s;

		&__toggler {
			position: relative;
			display: block;
		}

		&-left {
			left: 0;
			width: 200px;

			&.hidden {
				left: -200px;
			}

			.aside__toggler {
				right: -100%;
			}
		}

		&-right {
			right: 0;
			width: 200px;

			&.hidden {
				right: -200px;
			}

			.aside__toggler {
				left: -30px;
			}
		}
	}
}

.previous-works {
	&__title {
		margin-bottom: 1rem;
		font-size: 1rem;
	}

	&__content {
		display: grid;
		grid-gap: 5px;
		grid-template-rows: minmax(250px, 1fr);
		grid-auto-flow: column;
		grid-auto-columns: 40%;
		overflow-x: auto;
		overflow-y: hidden;
	}

	&__empty {
		margin-top: 20px;

		font-size: 1.3rem;

		.first {
			@include flicker(-0.3s);
		}

		.second {
			@include flicker();
		}
	}

	.previous-work {
		position: relative;
		transition: 0.3s;
		cursor: pointer;

		overflow: hidden;

		&__btn {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
		}

		&__image {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 1;

			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 0.3s;

			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

.options-section {
	&__title {
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}
}

.settings {
	display: flex;
	justify-content: space-between;

	column-gap: 1rem;

	@media (max-width: 864px) {
		flex-direction: column;
		gap: 20px;
	}
}

.actions {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;

	&__btn {
		width: 100%;
	}
}

.items-play {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
	gap: 1em;
}

.item-play {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1/1;
	border-radius: 4px;
	background: var(--bg-light);
	box-shadow: var(--shadow-grey);

	&__img {
		z-index: 100;

		&.not-setted {
			position: absolute;
			width: 80%;
			height: 80%;
		}

		&.setted {
			position: absolute;
			width: 35px;
			height: 35px;
		}

		cursor: grab;

		&:active {
			cursor: grabbing;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__amount {
		position: absolute;
		top: -2px;
		right: -2px;
		height: 20px;
		width: 20px;
		font-size: 14px;
		text-align: center;
		border-radius: 100%;
		background: var(--accent);
	}
}

.scene,
.options__option-scene {
	&-1 {
		background-image: url('/img/scene/1.jpg');
	}

	&-2 {
		background-image: url('/img/scene/2.jpg');
	}

	&-3 {
		background-image: url('/img/scene/3.jpg');
	}

	&-4 {
		background-image: url('/img/scene/4.jpg');
	}

	&-5 {
		background-image: url('/img/scene/5.jpg');
	}

	&-6 {
		background-image: url('/img/scene/6.jpg');
	}

	&-7 {
		background-image: url('/img/scene/7.jpg');
	}

	&-8 {
		background-image: url('/img/scene/8.jpg');
	}

	&-9 {
		background-image: url('/img/scene/9.jpg');
	}
}

.tree,
.options__option-tree {
	&-1 {
		background-image: url('/img/tree/1.png');
	}

	&-2 {
		background-image: url('/img/tree/2.png');
	}

	&-3 {
		background-image: url('/img/tree/3.png');
	}

	&-4 {
		background-image: url('/img/tree/4.png');
	}

	&-5 {
		background-image: url('/img/tree/5.png');
	}

	&-6 {
		background-image: url('/img/tree/6.png');
	}
}

.snowflakes {
	position: absolute;
	top: -100%;
	left: 0;
	right: 0;
	bottom: 100px;
	overflow: hidden;
	z-index: 100;
	pointer-events: none;

	.snowflake {
		display: inline-block;
		color: #fff;
		padding: 1rem;
		animation: falling 5s linear forwards infinite;
		pointer-events: none;
		user-select: none;
	}

	.snowflake::before {
		content: '*';
	}
}

@keyframes falling {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(calc(100vh - 200px));
	}
}

.miniature-wrapper {
	display: none;
}
