.play-container {
	display: flex;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	background: var(--bg-light);
}

.play-main {
	flex: 1 1 500px;
	background: var(--bg-light);
}

.aside {
	flex: 0 1 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 0.5rem;
	overflow: auto;
	height: 100%;
	padding: 0.5rem;
	background: var(--bg-dark);
}

.options-section {
	&__title {
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}
}

.options {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5em;

	&__option {
		position: relative;
		border: 1px solid var(--grey);
		cursor: pointer;
		transition: 0.3s;
		background: var(--bg-light);

		&_active,
		&:hover {
			box-shadow: 0 0 5px var(--green-bright), 0 0 10px var(--green-bright), 0 0 10px var(--green-bright), 0 0 10px var(--green-bright);
		}
	}

	.switch {
		margin-left: auto;
	}
}

.options__option-scene {
	flex: 1 1 70px;
	height: 60px;
	border-radius: 4px;
	background-size: cover;

	&-1 {
		background-image: url('/img/scene/1.jpg');
	}

	&-2 {
		background-image: url('/img/scene/2.jpg');
	}

	&-3 {
		background-image: url('/img/scene/3.jpg');
	}

	&-4 {
		background-image: url('/img/scene/4.jpg');
	}

	&-5 {
		background-image: url('/img/scene/5.jpg');
	}

	&-6 {
		background-image: url('/img/scene/6.jpg');
	}
}

.options__option-tree {
	flex: 1 1 80px;
	height: 100px;
	border-radius: 4px;
	background-size: cover;

	&-1 {
		background-image: url('/img/tree/1.png');
	}

	&-2 {
		background-image: url('/img/tree/2.png');
	}

	&-3 {
		background-image: url('/img/tree/3.png');
	}

	&-4 {
		background-image: url('/img/tree/4.png');
	}

	&-5 {
		background-image: url('/img/tree/5.png');
	}

	&-6 {
		background-image: url('/img/tree/6.png');
	}
}

.options__option-lights {
	width: 20px;
	height: 20px;
	border-radius: 100%;

	&-1 {
		background: var(--red-bright);
	}

	&-2 {
		background: var(--pink-bright);
	}

	&-3 {
		background: var(--green-bright);
	}

	&-4 {
		background: var(--yellow-bright);
	}

	&-5 {
		background: linear-gradient(11deg, var(--red-bright) 0%, var(--pink-bright) 30%, var(--yellow-bright) 50%, var(--green-bright) 100%);
	}
}

.lights-switcher {
	background: none;
	border-radius: 20px;
	border: none;
	color: var(--white);
	cursor: pointer;
	transition: 0.3s;
}

.settings {
	display: flex;
	justify-content: space-between;

	&__block {
		display: flex;
		align-items: center;
		column-gap: 0.7rem;
	}
}

.actions {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;

	&__btn {
		width: 100%;
	}
}

.items-play {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(56px, 1fr));
	gap: 1em;
}

.item-play {
	position: relative;
	aspect-ratio: 1/1;
	padding: 0.5em;
	border-radius: 4px;
	background: var(--bg-light);
	box-shadow: var(--shadow-grey);

	&__img {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__amount {
		position: absolute;
		top: -5px;
		right: -5px;
		height: 20px;
		width: 20px;
		font-size: 14px;
		text-align: center;
		border-radius: 100%;
		background: var(--accent);
	}
}
