.start-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__action .btn {
    width: 200px;
  }
}

.items {
  margin-top: 2rem;

  &__title {
    margin-bottom: 1rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 1em;
    align-items: stretch;
  }
}
