.footer {
  padding: .7rem 0;
  border: 1px solid var(--bg-color);
  background-color: var(--content-bg-color);
  font-size: .9rem;

  .copyright {
    display: none;
    color: var(--grey);

    &__school {
      width: 30px;
      height: 10px;
      background: url('/img/rss.svg') no-repeat center;
    }

    &__github:hover {
      color: var(--white);
    }
  }

  .container {
    padding-left: 30px;
  }

  @media (min-width: 768px) {
    // margin from nav
    margin-left: 50px;
    border-left: none;

    .copyright {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
