.select {
  position: relative;
  display: block;
  margin-bottom: 10px;

  &__box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: var(--bg-black);
    box-shadow: 0 0 0 1px var(--grey);
  }

  &__box .selected-options {
    flex: 0 1 auto;
  }

  &__box .selected-options li {
    margin-bottom: 0;
  }

  &__box .select__input:focus {
    box-shadow: none;
    outline: none;
  }

  &__box:focus-within {
    box-shadow: 0 0 3px 2px var(--accent);
    outline: 5px solid transparent;
  }

  &__input {
    flex: 1 1 100px;
    display: block;
    color: var(--white);
    background-color: var(--bg-black);
    border: none;
    font-size: 1em;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
  }
}

.open .select__input {
  border-radius: 4px 4px 0 0;
}

.select__list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  max-height: 300px;
  border: 1px solid var(--grey);
  border-radius: 0 0 4px 4px;
  overflow-y: scroll;
  background-color: var(--bg-black);

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--black);
  }
}

.open .select__list {
  display: block;
}

.select-option {
  padding: 10px 12px 12px;
  color: var(--white);
  cursor: pointer;
}

.select-option.option-current,
.select-option:hover {
  background-color: var(--bg-light);
}

.select-option.option-selected {
  position: relative;
  padding-right: 30px;
}

.select-option.option-selected::after {
  position: absolute;
  right: 15px;
  top: 50%;
  width: 8px;
  height: 16px;
  border-bottom: 2px solid var(--accent);
  border-right: 2px solid var(--accent);
  content: '';
  transform: translate(0, -50%) rotate(45deg);
}

.selected-options {
  list-style-type: none;
}

.selected-options li {
  display: inline-block;
  margin-bottom: 5px;
}

.remove-option {
  position: relative;
  margin-bottom: 6px;
  margin-right: 6px;
  cursor: pointer;
  padding: 0.25em 1.75em 0.25em 0.25em;
  font-size: 0.75em;
  font-weight: bold;
  color: var(--white);
  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 3px;
}

.remove-option:hover {
  border-color: #baa1dd;
  box-shadow: 0 0 3px 1px var(--accent);
  outline: 3px solid transparent;
}

.remove-option::before,
.remove-option::after {
  border-right: 2px solid var(--white);
  content: '';
  height: 1em;
  right: 0.75em;
  position: absolute;
  top: 50%;
  width: 0;
}

.remove-option::before {
  transform: translate(0, -50%) rotate(45deg);
}

.remove-option::after {
  transform: translate(0, -50%) rotate(-45deg);
}
