html,
body {
  height: 100%;
  font-size: var(--root-px);
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0 2rem;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(134, 133, 133);

  .header {
    flex: 0 0 auto;
  }

  .main {
    flex: 1 0 auto;
  }

  .footer {
    flex: 0 0 auto;
  }
}