@mixin flicker($delay: 0s) {
	animation: flicker-animation 5s linear infinite;
	animation-delay: $delay;
	@keyframes flicker-animation {
		0%,
		14%,
		26%,
		39%,
		50%,
		84% {
			opacity: 1;
			color: var(--red-bright);
			text-shadow: var(--error-text-shadow);
		}

		15%,
		25%,
		40%,
		49%,
		85%,
		100% {
			opacity: 0.4;
			color: var(--black);
		}
	}
}
