* {
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
}

img::selection {
	background: transparent;
}

::selection {
	background: var(--accent);
}

button {
	outline: none;
}

ul {
	list-style-type: none;
}

a {
	color: var(--grey);
	text-decoration: none;
	transition: 0.3s;
}
