* {
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: var(--grey);
	}

	&::-webkit-scrollbar-track {
		background-color: var(--bg-black);
	}
}

img::selection {
	background: transparent;
}

::selection {
	background: var(--accent);
}

button {
	outline: none;
}

ul {
	list-style-type: none;
}

a {
	color: var(--grey);
	text-decoration: none;
	transition: 0.3s;
}
